*~
*.html
.deps
.libs
/curses_c.la
/lcurses.lo
/lcurses.o
/lcurses-*.tar.gz
/release-notes-*
/lib
/INSTALL
/ChangeLog
/COPYING
/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.log
/config.lt
/config.guess
/config.log
/config.status
/config.sub
/config.lineno
/configure
/depcomp
/gnulib
/install-sh
/libtool
/ltmain.sh
/missing
/Makefile
/Makefile.in
/stamp-h1
